<template>
  <section class="add-todo">
    <form @submit.prevent="addTask" v-if="isVisible" class="add-todo__form">
      <button @click="close" class="close-button" type="button">
        <i class="bi bi-x"></i>
      </button>
      <div class="text-input text-input--focus">
        <input v-model="title" class="input" />
      </div>
      {{ message }}
      <button class="button button--filled">Add task</button>
    </form>

    <button v-else @click="open" class="add-todo__show-form-button">
      <i class="bi bi-plus-lg"></i>
    </button>
  </section>
</template>
<script lang="ts">
import { Todo } from "@/types/Todo";
import { defineComponent } from "vue";

interface State {
  isVisible: boolean;
  title: string;
  message: string;
}

export default defineComponent({
  data(): State {
    return {
      isVisible: false,
      title: "",
      message: "",
    };
  },

  methods: {
    close() {
      this.isVisible = false;
    },
    open() {
      this.isVisible = true;
    },
    addTask() {
      if (!this.title) {
        this.message = "enter value";
        return;
      }

      let todoAdd: Todo = {
        id: Date.now(),
        title: this.title,
        userId: 0,
        completed: false,
      };

      this.$emit("addTask", todoAdd);
      this.title = "";
      this.message = "";
    },
  },
  emits: {
    addTask: (todo: Todo) => todo,
  },
});
</script>
