<template>
  <aside class="app-filters">
    <section class="toggle-group">
      <button
        v-for="(item, index) in arFilter"
        :key="index"
        :class="{ 'button--primary': activeFilter == item }"
        class="button"
        @click="setFilter(item)"
      >
        {{ item }}
      </button>
    </section>
  </aside>
</template>
<script lang="ts">
import { PropType, defineComponent } from "vue";

interface State {
  arFilter: Filter[];
}
export type Filter = "All" | "Active" | "Done";
export default defineComponent({
  props: {
    activeFilter: {
      type: String as PropType<Filter>,
      required: true,
    },
  },
  data(): State {
    return {
      arFilter: ["All", "Active", "Done"],
    };
  },

  methods: {
    setFilter(filter:Filter) {
      this.$emit('setFilter',filter);
    },
  },

  emits:{
    setFilter:(filter:Filter)=>filter
  }
});
</script>
