<template>
  <ul class="todo-list">
    <TodoItems
      v-for="item in todos"
      :key="item.id"
      :todo="item"
      @toggle-todo="toggleTodo"
      @remove="remove"
    />
  </ul>
  <!-- {{ todos }} -->
</template>
<script lang="ts">
import { PropType, defineComponent } from "vue";
import TodoItems from "./TodoItems.vue";
import { Todo } from "@/types/Todo";

export default defineComponent({
  components: { TodoItems },
  props: {
    todos: {
      type: Array as PropType<Todo[]>,
      required: true,
    },
  },
  methods: {
    toggleTodo(id: number) {
      this.$emit("toggleTodo", id);
    },
    remove(id: number) {
      this.$emit("remove", id);
    },
  },
  emits: {
    toggleTodo: (id: number) => Number.isInteger(id),
    remove: (id: number) => Number.isInteger(id),
  },
});
</script>
