<template>
  <TheHeader />
  <TheFilter :active-filter="activeFilter" @set-filter="setFilter" />

  <main class="app-main">
    <TheTodoList :todos="filterTodos" @toggle-todo="toggleTodo" @remove="remove" />
    <TheAddTodo @add-task="addTask" />
  </main>
  <TheFooter :stats="stats" />
</template>
<script lang="ts">
import { defineComponent } from "vue";
import TheHeader from "./components/TheHeader.vue";
import TheFilter, { Filter } from "./components/TheFilter.vue";
import TheTodoList from "./components/TheTodoList.vue";
import TheAddTodo from "./components/TheAddTodo.vue";
import TheFooter, {Stats} from "./components/TheFooter.vue";
import { Todo } from "./types/Todo";
// import {Stats} from './components/TheFooter.vue';
interface State {
  todos: Todo[];
  activeFilter: Filter;
}
export default defineComponent({
  components: {
    TheHeader,
    TheFilter,
    TheTodoList,
    TheFooter,
    TheAddTodo,
  },

  data(): State {
    return {
      todos: [],
      activeFilter: "All",
    };
  },

  mounted() {
    this.loadTask();
  },

  methods: {
    async loadTask() {
      fetch("https://jsonplaceholder.typicode.com/todos/?_limit=10")
        .then((response) => response.json())
        .then((json) => (this.todos = json));
    },
    toggleTodo(id: number) {
      const targetTodo = this.todos.find((item) => item.id === id);
      if (targetTodo) {
        targetTodo.completed = !targetTodo.completed;
      }
    },

    remove(id: number) {
      this.todos = this.todos.filter((item) => item.id !== id);
    },
    addTask(todo: Todo) {
      this.todos.push(todo);
    },

    setFilter(filter: Filter) {
      this.activeFilter = filter;
    },
  },
  computed: {
    stats():Stats {
      return {
        active: this.activeTodos.length,
        done: this.doneTodos.length,
      };
    },
    filterTodos(): Todo[] {
      switch (this.activeFilter) {
        case "Active":
          return this.activeTodos;

        case "Done":
          return this.doneTodos;

        case "All":
        default:
          return this.todos;
      }
    },

    activeTodos(): Todo[] {
      return this.todos.filter((item) => !item.completed);
    },
    doneTodos(): Todo[] {
      return this.todos.filter((item) => item.completed);
    },
  },
});
</script>
